.cart-overlay {
    display: none;

    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(57, 55, 72, 0.22);
}

/* body {
    overflow: hidden;
} */

.cart-overlay__wrapper {
    position: absolute;
    top: 81px;
    left: 1440px;
    padding: 32px 16px;

    background-color: #fff;

    max-width: 324px;
}

.cart-overlay__title {
    margin-bottom: 32px;
    font-size: 16px;

    font-weight: 700;
}

.cart-overlay__item-span {
    font-weight: 500;
}

.cart-overlay__product-list {
    margin-bottom: 60px;

    list-style-type: none;
}

.cart-overlay__product-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cart-overlay__product-item + .cart-overlay__product-item {
    margin-top: 40px;
}

.cart-overlay__left-wrapper {
    max-width: 164px;
}

.cart-overlay__product-title {
    margin-bottom: 4px;
    
    font-weight: 300;
    font-size: 16px;
}

.cart-overlay__product-type {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 4px;
}

.cart-overlay__product-price {
    margin-bottom: 8px;
    
    font-weight: 500;
    font-size: 16px;
}

.cart-overlay__subtitle {
    margin-bottom: 8px;
    
    font-size: 14px;
    line-height: 1.14;
    text-transform: capitalize;
}

.cart-overlay__size-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;


    margin-bottom: 8px;
}

.cart-overlay__size-btn {
    padding: 2px 2px;

    min-width: 24px;
    min-height: 24px;

    background-color: transparent;
    border: 1px solid #1D1F22;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #1D1F22;

    cursor: pointer;
}

.cart-overlay__size-btn--active {
    background-color: #1D1F22;
    color: #FFFFFF;
}

.cart-overlay__color-btn-wrapper {
    display: flex;
    gap: 8px;
}

.cart-overlay__color-btn {
    width: 20px;
    height: 20px;

    background-color: lightblue;
    border: 1px solid #fff;

    cursor: pointer;
}

.cart-overlay__color-btn--active {
    outline: 1px solid #5ECE7B;
}

.cart-overlay__product-right-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.cart-overlay__product-quantity-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 58px;
}

.cart-overlay__quantity-btn {
    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid #1D1F22;
    cursor: pointer;
}

.cart-overlay__product-img {
    width: 120px;
    height: 192px;
    object-fit: cover;
}

.cart-overlay__total-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;

    font-size: 16px;
}


.cart-overlay__total-p {
    font-weight: 500;
}

.cart-overlay__total-span {
    font-weight: 700;
}

.cart-overlay__btn-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    list-style-type: none;  
}

.cart-overlay__main-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    width: 140px;
    height: 43px;

    background-color: #FFFFFF;
    border: 1px solid #1D1F22;
    color: #1D1F22;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;

    transition: background-color 250ms linear, color 250ms linear;
    cursor: pointer;
}

.cart-overlay__main-btn:hover {
    background-color: #5ECE7B;
    color: #fff;
}