.container {
    margin: 0 auto;
    padding: 160px 100px 80px;
    width: 1440px;
}

.cart__title {
    margin-bottom: 54px;

    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;

    text-transform: uppercase;
}

.cart__productList {
    padding: 24px 0;
    margin-bottom: 32px;

    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;

    list-style-type: none;
}

.cart__productItem {
    display: flex;
    justify-content: space-between;

    padding-bottom: 26px;
}

.cart__productItem + .cart__productItem {
    padding-top: 26px;
    border-top: 1px solid #E5E5E5;
}


.cart__productType_marginBottom {
    margin-bottom: 20px;
}

.cart__productPrice {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 24px;
    line-height: .75;
}

.cart__productRightWrapper {
    display: flex;
    align-items: center;
    gap: 24px;
}

.cart__productQuantityWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.cart__quantityBtn {
    width: 45px;
    height: 45px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: transparent;
    border: 1px solid #1D1F22;
    cursor: pointer;
}

.cart__productImgWrapper {
    position: relative;

}

.cart__productImg {
    width: 200px;
    height: 288px;
    object-fit: cover;
}

.cart__productChangeBtnWrapper {
    position: absolute;
    bottom: 16px;
    right: 16px;

    display: flex;
    gap: 8px;
}

.cart__imgChangeBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 5px 8px;
    width: 24px;
    height: 24px;

    border: none;
    background-color: rgba(0, 0, 0, 0.73);

    cursor: pointer;
}

.cart__countList {
    margin-bottom: 16px;

    display: flex;
    gap: 10px;

    font-size: 24px;
    line-height: 1.17;
    list-style-type: none;
}

.cart__countItem {
    display: flex;
    flex-direction: column;
}

.cart__countSum {
    font-weight: 700;
}

.cart__orderBtn {
    padding: 13px 114px;

    background-color: #5ECE7B;
    color: #fff;
    border: none;
    text-transform: uppercase;

    cursor: pointer;
}

.pdp__subtitle {
    margin-bottom: 8px;

    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.pdp__sizeBtnWrapper {
    display: flex;
    gap: 12px;
    align-items: center;

    margin-bottom: 24px;
}

.pdp__sizeBtn {
    padding: 13px 22px;

    max-width: 63px;
    max-height: 45px;

    background-color: transparent;
    border: 1px solid #1D1F22;

    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: 0.05em;
    color: #1D1F22;

    cursor: pointer;
}

.pdp__sizeBtn_active {
    background-color: #1D1F22;
    color: #FFFFFF;
}

.pdp__colorBtnWrapper {
    margin-bottom: 36px;
    display: flex;
    gap: 8px;
}

.pdp__colorBtn {
    width: 35px;
    height: 35px;

    background-color: #2B2B2B;
    border: 1px solid #fff;

    cursor: pointer;
}

.pdp__colorBtn_active {
    outline: 1px solid #5ECE7B;
}