.header {
    background-color: #fff;
    position: fixed;
    width: 100%;
    max-height: 80px;
    z-index: 100;
}

.header__wrapper {
    max-width: 1440px;
    max-height: 80px;
    margin: 0 auto;
    padding: 20px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;

    text-transform: uppercase;
    list-style-type: none;
}

.nav__item {
    min-width: 96px;
    text-align: center;
}

.nav__item_active::after {
    content: "";
    position: relative;
    bottom: -25px;

    display: block;
    height: 1px;
    width: 96px;

    background-color: #5ECE7B;
}

.nav__link {
    font-size: 16px;
    line-height: 1.2;
    text-decoration: none;
    color: #1D1F22;
}

.nav__link_active {
    color: #5ECE7B;
    font-weight: 600;
}


.logo {
    display: flex;
}

.optionList {
    position: relative;
    display: flex;
    gap: 22px;

    list-style-type: none;
}

.optionList__item_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.optionList__item_cart {
    padding-top: 10px;
}

/* Currency drop-down menu */

.option__currencyWrapper {
    position: absolute;
    z-index: 10;
    box-shadow: 0px 4px 35px rgba(168, 172, 176, .19);
    
    user-select: none;
    right: 14px;
    bottom: 0;
    visibility: none;
    pointer-events: none;
    opacity: 0;
    transition: transform 300ms linear, visibility 150ms linear, opacity 150ms linear;
}

.optionList_currency:hover .option__currencyWrapper {
    visibility: visible;
    pointer-events: all;
    opacity: 1;

    transform: translate(0, 180px);
}

.option__currencyList {
    list-style-type: none;

    display: flex;
    flex-direction: column;
}

.option__currencyItem {
    padding: 16px 20px;

    min-width: 114px;

    background-color: #fff;

    transition: background-color 300ms linear;
    cursor: pointer;
}

.option__currencyItem:hover {
    background-color: #EEEEEE;
}