.cartOverlay {
    display: none;

    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(57, 55, 72, 0.22);
}

/* body {
    overflow: hidden;
} */

.cartOverlay__wrapper {
    position: absolute;
    top: 81px;
    left: 1440px;
    padding: 32px 16px;

    background-color: #fff;

    max-width: 324px;
}

.cartOverlay__title {
    margin-bottom: 32px;
    font-size: 16px;

    font-weight: 700;
}

.cartOverlay__itemSpan {
    font-weight: 500;
}

.cartOverlay__productList {
    margin-bottom: 60px;
    padding: 2px 0px 2px 2px;

    max-height: 400px;

    list-style-type: none;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.cartOverlay__totalWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 32px;

    font-size: 16px;
}


.cartOverlay__totalP {
    font-weight: 500;
}

.cartOverlay__totalSpan {
    font-weight: 700;
}

.cartOverlay__btnList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    list-style-type: none;
}

.cartOverlay__mainBtn {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 20px;
    width: 140px;
    height: 43px;

    background-color: #FFFFFF;
    border: 1px solid #1D1F22;
    color: #1D1F22;

    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;

    transition: background-color 250ms linear, color 250ms linear;
    cursor: pointer;
}

.cartOverlay__mainBtn:hover {
    background-color: #5ECE7B;
    color: #fff;
}