.product__list {
    list-style-type: none;
}

.product__title {
    margin-bottom: 100px;

    font-size: 42px;
    font-weight: 400;
}

.card-list {
    row-gap: 100px;
    column-gap: 40px;
    justify-content: center;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}

.product__item {
    padding: 16px;
    cursor: none;
}

.product__item--hovered:hover {
    box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product__item--hovered:hover .product__button {
    display: block;
    cursor: pointer;
}

.product__link {
    text-decoration: none;
    color: #1D1F22;
}

.product_img-wrapper {
    position: relative;
    text-align: center;
}

.product__img {
    margin-bottom: 24px;
    
    width: 100%;
    object-fit: contain;
}

.product__img--sold-out {
    color: #8D8F9A;
    font-size: 24px;

    display: none;
}

.product__button {
    position: absolute;
    display: none;
    padding: 14px;

    width: 52px;
    height: 52px;

    bottom: -25px;
    right: 15px;
    border-radius: 50%;
    border: none;
    background-color: #5ECE7B;
}

.product__name {
    font-weight: 300;
}

.product__price {
    font-weight: 500;
}

.product__item--sold-out .product__name,
.product__item--sold-out .product__price {
    color: #8D8F9A;
}

.product__item--sold-out .product__img {
    background: #FFFFFF;
    opacity: 0.5;
}

.product__item--sold-out .product__img--sold-out {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}