@import '../node_modules//modern-normalize/modern-normalize.css';

body {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  font-weight: 400;
  color: #1D1F22;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
