.container {
    margin: 0 auto;
    padding: 160px 100px 80px;
    width: 1440px;
}

.product__list {
    list-style-type: none;
}

.product__title {
    margin-bottom: 100px;

    font-size: 42px;
    font-weight: 400;
}

.cardList {
    row-gap: 100px;
    column-gap: 40px;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
}
